.fa {
  font-family: "FontAwesome";
}

.customTabView {
  tab-text-color: white;
  selected-tab-text-color: #0071CA;
  tab-background-color: #008EFF;
}

.hidden {
  visibility: collapsed;
}

ActionBar {
  background-color : #008EFF;
  color: white
}

// ActionBar
ActionBar .action-bar-title {
  horizontal-align: center;
}

// SideDrawer
.sidedrawer-container {
  background-color: $app-sidedrawer-background-color;

  .sidedrawer {
    padding-top: 40px;

    .sidedrawer .sidedrawer-list-item {
      padding-left: 15;
      margin-bottom: 90px;
    }

    .sidedrawer .sidedrawer-list-item Label {
      vertical-align: center;
      color: $app-sidedrawer-label-color;
    }

    .sidedrawer .sidedrawer-item .fa {
      width: 20;
      margin-right: 10;
    }
  }
}
