<StackLayout customNavBar class="page page-content">
    <StackLayout *ngIf="customer | async; let customer; else loading">
        <Label class="action-bar-title" [text]="customer.name" class="m-l-7 list-group-item-heading text-primary text-left font-weight-bold"></Label>
        <Label class="action-bar-title" text="Info" class="m-l-5 list-group-item-heading text-primary text-left font-weight-bold"></Label>
        <StackLayout class="list-group-item">
            <Label text="Address" class="m-l-5 list-group-item-heading text-primary text-left"></Label>
            <Label [text]="customer.contact.address" class="m-l-5 list-group-item-text text-muted text-left"></Label>
        </StackLayout>
        <StackLayout class="list-group-item">
            <Label text="Phone" class="m-l-5 list-group-item-heading text-primary text-left"></Label>
            <Label [text]="customer.contact.phone" class="m-l-5 list-group-item-text text-muted text-left"></Label>
        </StackLayout>

        <StackLayout class="list-group-item">
            <Label text="Contact" class="m-l-5 list-group-item-heading text-primary text-left"></Label>
            <GridLayout columns="auto, auto" rows="auto, auto">
                <Image col="0" rowSpan="2" [src]="customer.contact.picture" width="30" height="30" class="thumb img-circle"></Image>
                <Label col="1" row="0" [text]="customer.name" class="m-l-5 list-group-item-text text-muted text-left"></Label>
                <Label col="1" row="1" [text]="customer.contact.occupation" class="m-l-5 list-group-item-text text-muted text-left"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>

    <ng-template #loading>
        <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
    </ng-template>

    <StackLayout class="hr-light m-10"></StackLayout>

    <GridLayout columns="*, *" rows="auto, auto">
        <Label col="0" row="0" text="Order Total"></Label>
        <Label col="1" row="0" [text]="totalOrder" class="text-right"></Label>
    </GridLayout>

    <StackLayout class="hr-light m-10"></StackLayout>

    <GridLayout columns="*, *, *, *, *, *" rows="auto">
        <Label col="0" row="0" text="Product Name"></Label>
        <Label col="1" row="0" text="Unit Price"></Label>
        <Label col="2" row="0" text="Unit In Stock"></Label>
        <Label col="3" row="0" text="Promo"></Label>
        <Label col="4" row="0" text="Quantity"></Label>
        <Label col="5" row="0" text="Total"></Label>
    </GridLayout>
    <GridLayout>
        <RadListView [items]="products" class="list-group">
            <ng-template tkListItemTemplate let-product="item">
                <GridLayout columns="*, *, *, *, *, *" rows="auto">
                    <Label col="0" [text]="product.productName"></Label>
                    <Label col="1" [text]="product.unitPrice"></Label>
                    <Label col="2" [text]="product.unitInStock"></Label>
                    <Label col="3" [text]="product.promo | questionableBoolean"></Label>
                    <Label col="4" [text]="product.quantity"></Label>
                    <Label col="5" [text]="product.quantity | totalPrice: product.unitPrice"></Label>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
</StackLayout>