<TabView androidTabsPosition="bottom" tabTextFontSize="20" class="page page-content" (loaded)="onTabViewLoaded($event)">
	<page-router-outlet *tabItem="{ title: 'Agenda' }" name="agendaTab"></page-router-outlet>
	<page-router-outlet *tabItem="{ title: 'Customers' }" name="customersTab"></page-router-outlet>
	<page-router-outlet *tabItem="{ title: 'Reports' }" name="reportsTab"></page-router-outlet>
	<page-router-outlet *tabItem="{ title: 'Inbox' }" name="inboxTab"></page-router-outlet>
</TabView>